@import "variables";

.box {
  box-shadow: none;
}

.actions {
  position: relative;
}

table.dataTable tbody td, table.dataTable tbody th {
  padding: 15px 10px;

  i.fa-info-circle {
    color: #9b9b9b;
    margin-left: 7px;
    cursor: pointer;
    position: relative;

    > span.info {
      position: absolute;
      color: #000000;
      background: #ffffff;
      line-height: 23px;
      visibility: hidden;
      border-radius: 6px;
      box-shadow: 0 0 10px lighten(#4A4A4A, 50%);
      padding: 10px 15px;
      min-width: 280px;
      text-align: left;
      font-family: Roboto, sans-serif;
      font-size: 14px;

      &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 31px;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-bottom: 8px solid lighten(#4A4A4A, 30%);
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 31px;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-bottom: 8px solid #FFFBF5;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }

      > p {
        margin-bottom: 0;
        .col-left {
          font-weight: bold;
          min-width: 90px;
          display: inline-block;
        }
        .col-right {
          color: darken(#7f7f7f, 15%);
        }

      }
    }

    &:hover > span.info, &:focus > span.info {
      visibility: visible;
      opacity: 1;
      top: 25px;
      left: -25px;
      z-index: 999;
    }
  }

  button.btn-grade {
    color: #9b9b9b;
    cursor: pointer;
    position: relative;

    > span.info {
      position: absolute;
      color: #000000;
      background: #ffffff;
      line-height: 23px;
      visibility: hidden;
      border-radius: 6px;
      box-shadow: 0 0 10px lighten(#4A4A4A, 50%);
      padding: 10px 15px;
      min-width: 350px;
      text-align: left;

      &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 31px;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-bottom: 8px solid lighten(#4A4A4A, 30%);
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 31px;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-bottom: 8px solid #FFFBF5;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }

      > div > div {
        hyphens: auto;
        &.col-xs-4 {
          font-weight: bold;
        }
        &.col-xs-8 {
          color: darken(#7f7f7f, 15%);
        }

      }
    }

    &:hover > span.info, &:focus > span.info {
      visibility: visible;
      opacity: 1;
      top: 27px;
      left: -15px;
      z-index: 999;
    }
  }
}

table.dataTable.no-footer {
  border: 1px solid #E0E0E0;
  border-right: none;
}

.odd.new_class_client {
  background: #F4F4F4 !important;
  input[type="submit"] {
    outline: 0;
    width: 106px;
    border: none;
    background: transparent;
    position: absolute;
    height: 43px;
    z-index: 9999;
    margin-top: -10px;
  }
}

.odd.new_class_group {
  background: #F4F4F4 !important;
  input[type="submit"] {
    outline: 0;
    width: 106px;
    border: none;
    background: transparent;
    position: absolute;
    height: 43px;
    z-index: 9999;
    margin-top: -10px;
  }
}

.page_heading {
  font-family: 'Roboto', sans-serif;
  font-size: $font_20 + 'px';
  color: #4A4A4A;
  font-weight: 400;
  margin-bottom: 21px;
  margin-top: 5px;
}

.confirm_css_recruiter {
  padding: 5px 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #2ECC71;
  &:hover {
    opacity: 0.7;
    transition: 0.3s all ease-in;
  }
  span {
    color: #ffffff;
  }
  .fa-check:before {
    color: #ffffff;
  }
}

.client_box {
  .box-header {
    background-color: transparent;
    h3 {
      font-family: 'Roboto', sans-serif;
      font-size: $font_16+px;
      color: #4A4A4A;
      font-weight: 500;
    }
  }
}

.box-header {
  background-color: #ECF0F5;
  margin-top: -7px;
  padding-bottom: 16px;
  h3 {
    margin-top: -1px !important;
    font-family: 'Roboto', sans-serif;
    font-size: $font_20+px;
    color: #4A4A4A;
    font-weight: 400;
  }
  button {
    background: #FF0000;
    border-color: #FF0000;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: $font_14+px;
    color: #FFFFFF;
    font-weight: 400;
    padding: 8px 10px;
    transition: all 0.2s ease-out;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    &:hover {
      background: #ea1e1e;
      border-color: #ea1e1e;
    }
    &:focus {
      background: red;
      border-color: red;
      outline: 0;
    }
    &:active {
      background: red;
      border-color: red;
      &:focus {
        outline: 0;
        background: red;
        border-color: red;
      }
    }
    span {
      font-size: $font_16+px;
      color: #FFFFFF;
      margin-right: 6px;
    }
  }
}

.btn-danger.focus, .btn-danger:focus {
  background-color: red;
  border-color: red;
}

.box-body {
  box-shadow: 0 2px 4px 0 rgba(182, 182, 182, 0.50);
  border-radius: 5px;
  padding: 10px 15px;
  td {
    font-family: 'Roboto', sans-serif;
    font-size: $font_14+px;
    color: #333333;
    font-weight: 400;
  }
  th {
    font-family: 'Roboto', sans-serif;
    font-size: $font_13+px;
    color: #9B9B9B;
    font-weight: 500;
  }
  .table > thead > tr > th {
    border-bottom: 3px solid #f4f4f4;
  }
}

.demo-close {
  z-index: 100;
  top: 12px;
  right: 45px;
  margin: 1rem;
  padding: 0.6rem;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close:hover {
  background: rgba(0, 0, 0, 0.6);
}

.demo-close svg {
  width: 19px;
  fill: #fff;
  vertical-align: top;
}

.dataTables_wrapper .dataTables_info {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: $font_13+px;
  color: #9B9B9B;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.dataTables_wrapper {
  position: inherit;
  .dataTables_paginate {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding: 0;
    margin-top: 13px;

    .paginate_button {
      margin: 0;
      margin-top: -1px;
      font-size: $font_13+px;
      color: #4A4A4A !important;
      border: 0 none;
      border-radius: 0;
      padding: 0 1em;
      height: 38px;
      line-height: 35px;
      border-left: 1px solid #767676;
      transition: all 0.2s ease-out;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      &.disabled {
        border: 0 none;
        &:hover {
          background: #767676;
        }
      }
      &:hover {
        color: #fff;
        background: #767676;
        border: 0 none;
        border-left: 1px solid #4A4A4A !important;
      }
    }
    .paginate_button.current {
      background: #767676;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: $font_13+px;
      color: #fff !important;
      margin: -1px 0 0;
      height: 39px;
      &:hover {
        background: #767676;
        color: #fff !important;
      }
    }
    .paginate_button.next {
      &:hover {
        color: #fff !important;
        cursor: pointer;
      }
      &.disabled {
        border-left: 1px solid #4A4A4A;
        &:hover {
          color: #fff !important;
          border: 0 none;
        }
      }

    }
    .paginate_button.previous {
      border: 0 none;
      border-left: 0 none !important;
      &:hover {
        color: #fff !important;
        cursor: pointer;
      }
      &.disabled {
        border: 0 none;
        &:hover {
          border-right: 1px solid #4A4A4A !important;
        }
      }
    }

  }
}

#css_datatable_paginate, #tds_datatable_paginate {
  span {
    margin-top: 10px;
    a {
      font-family: 'Roboto', sans-serif;
      font-size: $font_13+px;
      color: #FFFFFF !important;
      font-weight: 400;
    }
  }
}

.clients_table tbody tr td {
  font-family: 'Roboto', sans-serif !important;
  font-size: $font_14+px;
  color: #333333;
  font-weight: 400;
}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: none;
}

table.dataTable {
  width: 100% !important;
  border: none !important;

  thead th {
    padding: 10px;
  }
}


